@charset "utf-8";
/* CSS Document */

.container_main {
    width: 100%;
    height: 230px;
}
.search {
    width: 300px;
    height: 80px;
    float: right;
    text-align: center;
    position: relative;
    top: 5px;
    right: 50px;
}
.search input {
    width: 300px;
    height: 20px;
    margin: 2px;
    border: 1px solid #878686;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.iconsearch {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    right: 6px;
}
.contenthome {
    width: 100%;
    min-height: inherit;
    color: #ffffff;
}
.contenthome h1 {
    color: #ff0000;
    font-family: myFirstFont;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
}
@font-face {
  font-family: myForthFont;
  src: url("../fonts/ArmyChalk.ttf");
}
.contenthome h2 {
    color: #000000;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: myForthFont;
	color: #004993;
}
aside {
    width: 100%;
    min-height: inherit;
    float: left;
}
@font-face {
  font-family: myFirstFont;
  src: url("../fonts/ARABOLIC.TTF");
}
aside h1{
	color: #004993;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
	font-family: myFirstFont;
}
@font-face {
  font-family: myFifthFont;
  src: url("../fonts/Banner Normal.TTF");
}
aside h3 {
    color: red;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: myFirstFont;
}
span {
    color: #000000;
}
ul {
    list-style-type: circle;
    padding-top: 20px;
    color: black;
}
ul li {
    font-size: 14px;
    line-height: 30px;
}
.email {
    width: 250px;
    height: 80px;
    text-align: center;
    position: relative;
    top: 5px;
    right: 50px;
}
.email input {
    width: 250px;
    height: 20px;
    margin: 2px;
    border: 1px solid #878686;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.iconemail {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    right: 5px;
}
hr {
    display: block;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: red;
}
@font-face {
  font-family: mySecondFont;
  src: url("../fonts/BAGABT_.TTF");
}
.int{
	text-align: justify;
	width: 80%;
	font-family: mySecondFont;
}

